# SPDX-FileCopyrightText: 2018 CERN.
# SPDX-FileCopyrightText: 2018 RERO.
# SPDX-License-Identifier: MIT

-e git+https://github.com/inveniosoftware/invenio-access#egg=invenio-access
-e git+https://github.com/inveniosoftware/invenio-base.git#egg=invenio-base
-e git+https://github.com/inveniosoftware/invenio-db.git#egg=invenio-db
-e git+https://github.com/inveniosoftware/invenio-logging.git#egg=invenio-logging
-e git+https://github.com/inveniosoftware/invenio-pidstore.git#egg=invenio-pidstore
-e git+https://github.com/inveniosoftware/invenio-records.git#egg=invenio-records
-e git+https://github.com/inveniosoftware/invenio-records-rest.git#egg=invenio-records-rest
-e git+https://github.com/inveniosoftware/invenio-rest.git#egg=invenio-rest
-e git+https://github.com/inveniosoftware/invenio-search.git#egg=invenio-search
